*, *::after, *::before{
box-sizing: border-box;
}
:root{
    --cellSize: 100px;
    --tokenSize: calc(var(--cellSize)*.9)

}

.cell {
    width: var(--cellSize);
    height: var(--cellSize);
    border-color: #000fff;
    border-style: solid;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

}

.cell.x,
.cell.circle {
    cursor: not;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3)  {
    border-right: none;
}

.cell.x::before,
.cell.x::after {
    content:"";
    position: absolute;
    width: calc(var(--tokenSize)*.15);
    height: var(--tokenSize);
    background-color: black;
}

.cell.x::before{
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
    content:"";
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before{
    width: var(--tokenSize);
    height: var(--tokenSize);
    background-color: black;
}

.cell.circle::after{
    width: calc(var(--tokenSize)*.7);
    height: calc(var(--tokenSize)*.7);
    background-color: white;
}


body {
    margin: 0;

}

#board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
    justify-items: center;
    align-items: center;
}

.winner{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
    justify-content: center;
    align-items: center;
    
}

#announceWinner{
    font-size: 40px;
    color: white;
    padding-right: 20px;
}

#replay{
    font-size: 25px;
    cursor: pointer;
}

.winner.show {
    display: flex;
}